*{
    padding: 0px;
    margin: 0 auto;
}
body{   
    text-align: center;
    border: 5px solid red;
}
h1{
    display: inline-block;
    width: 50px;
    color: #000;
}
.time{
    background-color: brown;
    width: 200px;
    padding: 80px 0px;
    border: 1px solid blue;
    border-radius: 100%;
}